venv/
datasets/
/web_app/db.sqlite3
/web_app/media/videos/
web_app/db.sqlite3
/web_app/media/**

# Ignore Python cache directories
__pycache__/
**/__pycache__/
input_videos/tosti.mp4
input_videos/olympics.mp4
web_app/db.sqlite3
/web_app/media/top_views
